chapter2/ActivityLifeCycleTest/.idea/gradle.xml
chapter2/ActivityLifeCycleTest/.idea/jarRepositories.xml
chapter2/ActivityLifeCycleTest/.idea/misc.xml
chapter2/ActivityLifeCycleTest/.idea/modules.xml
chapter2/ActivityLifeCycleTest/.idea/runConfigurations.xml
chapter2/ActivityLifeCycleTest/.idea/vcs.xml
chapter2/ActivityLifeCycleTest/.idea/caches/build_file_checksums.ser
chapter2/ActivityLifeCycleTest/.idea/codeStyles/Project.xml
